.iphone-13-14-1-2wW {
   


 
   
    width: 1800px;
  margin-left: -150px;
  margin-top: -20px;
 
}
    .auto-group-8bpg-rvY {
      background-color: #223626;
      border-radius: 1.5rem;

      flex-shrink: 0;
   height: 250px;
     margin-left: 100px;
    
    }
    .profile{
      position: absolute;
      background-color:#233627 ;
      cursor: pointer;
      height: 15rem;
object-fit: contain;
vertical-align: top;
margin-top: 10px;
margin-left: 180px;
width: 15rem;
border-radius: 1.5rem;
     
    }
    .xuy{
        width: 120px;
        height: 120px;
    }

.photo{
width:500px;
height: 500px;
margin-top: 100px;
margin-left: 730px;
}
.nickyobani{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 8rem;
    font-weight: 800;
letter-spacing: 0.33rem;
position: relative;
    white-space: nowrap;
    margin-left: 680px;
 
}
.levelpizda{
    width: 800px;
    position: relative;
    margin-left: 580px;
}
.levelxuy{
    width: 600px;
position: relative; 
margin-left: 580px;
margin-top: -125px;
height: 125px;
}
.levelnumber{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
letter-spacing: 0.33rem;
position: relative;
    white-space: nowrap;
    margin-left: 600px;
    margin-top: -120px;
}
.cubok{
    width: 180px;
    height: 180px;
    position: relative;
    margin-left: 1400px;
    margin-top: -240px;
}
.rectangle-10-Vtx {
    background-color: rgba(15, 73, 27, 1);
    border-radius: 4rem;
    height: 200px;

   position: relative;
 margin-top: 90px;
 margin-left: 300px;

   
    width: 85rem;
    cursor: pointer;
  }
  .electronic-waste-R1v {
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
    height: 2.1rem;
    left: 35rem;
    letter-spacing: 0.33rem;
    line-height: 1.3625;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 18.6rem;
    margin-top: 510px;
    margin-left: 103px;
 
  }
.bell{
    position: relative;
    height: 180px;
    width: 180px;
    margin-left: 350px;
    margin-top: -200px;
   
    
}
.strelka{
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -200px;
    position: absolute;
}

.rectangle2{
    background-color: rgba(15, 73, 27, 1);
    border-radius: 4rem;
    height: 200px;

   position: relative;
 margin-top: 90px;
 margin-left: 300px;

   
    width: 85rem;
    cursor: pointer;
}
.help{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
    height: 2.1rem;
    left: 35rem;
    letter-spacing: 0.33rem;
    line-height: 1.3625;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 18.6rem;
    margin-top: 800px;
    margin-left: 103px;
}
.yaeby{
    position: relative;
    height: 160px;
    width: 160px;
    margin-left: 360px;
    margin-top: -185px;
   
}
.strelka2{
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -200px;
    position: absolute;
}
.rectangle3{
    background-color: rgba(15, 73, 27, 1);
    border-radius: 4rem;
    height: 200px;

   position: relative;
 margin-top: 90px;
 margin-left: 300px;

   
    width: 85rem;
    cursor: pointer;
}
.shield{
    position: relative;
    height: 160px;
    width: 140px;
    margin-left: 370px;
    margin-top: -185px;
   
}
.strelka3{
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -200px;
    position: absolute;
}
.privacy{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
    height: 2.1rem;
    left: 35rem;
    letter-spacing: 0.33rem;
    line-height: 1.3625;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 18.6rem;
    margin-top: 1090px;
    margin-left: 103px;
}

.rectangle4{
    background-color: rgba(15, 73, 27, 1);
    border-radius: 4rem;
    height: 200px;

   position: relative;
 margin-top: 90px;
 margin-left: 300px;

   
    width: 85rem;
    cursor: pointer;
}
.world{
    position: relative;
    height: 160px;
    width: 150px;
    margin-left: 370px;
    margin-top: -185px;
   
}
.strelka4{
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -200px;
    position: absolute;
}
.mova{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
    height: 2.1rem;
    left: 35rem;
    letter-spacing: 0.33rem;
    line-height: 1.3625;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 18.6rem;
    margin-top: 1370px;
    margin-left: 103px;
}
.rectangle5{
    background-color: rgba(15, 73, 27, 1);
    border-radius: 4rem;
    height: 200px;

   position: relative;
 margin-top: 90px;
 margin-left: 300px;

   
    width: 85rem;
    cursor: pointer;
}
.exit{
    position: relative;
    height: 160px;
    width: 150px;
    margin-left: 370px;
    margin-top: -185px;
   
}
.strelka5{
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -200px;
    position: absolute;
}
.logout{
    color: #ffffff;
    font-family: Open Sans, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 800;
    height: 2.1rem;
    left: 35rem;
    letter-spacing: 0.33rem;
    line-height: 1.3625;
    position: absolute;
    top: 67rem;
    white-space: nowrap;
    width: 18.6rem;
    margin-top: 1670px;
    margin-left: 103px;
}


.auto-group{
    background-color: #223626;
    border-radius:3rem;
width: 1300px;
    margin-top: 340px;
 height: 250px;
   margin-left: 320px;
  
  }


  .vector1{
width: 170px;
height: 170px;
    margin-left: 400px;
    margin-top: -220px;
    position: absolute;
  }


  .vector2{
    width: 170px;
    height: 170px;
        margin-left: 750px;
        margin-top: -220px;
        position: absolute;
      }

      .vector3{
        width: 170px;
        height: 170px;
            margin-left: 1100px;
            margin-top: -220px;
            position: absolute;
          }


          .vector4{
            width: 170px;
            height: 170px;
                margin-left: 1400px;
                margin-top: -220px;
                position: absolute;
              }






























